.clear { clear: both; }
.hide { display: none; }
.block { display: block; }
.inline { display: inline; }
.relative { position: relative; }
.padding { padding: 10px; }
.no-margin { margin: 0; }
.no-padding { padding: 0; }

.strikethrough { text-decoration: line-through; }
.underline { text-decoration: underline; }
.no-color, .no-color:hover { color: inherit; }
.left, td.left, th.left { text-align:left; }
.center, td.center, th.center { text-align:center; }
.right, td.right, th.right { text-align:right; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.btn { text-shadow: none; }
.border { border: 1px solid rgba(0,0,0,0.1); }
.border-bottom {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.upcase {
  text-transform:uppercase;
}
.italic {
  font-style: italic;
}
.loading * {
  display:none;
}
.loading {
  background-image: url(/assets/loader-circle.gif);
  background-repeat:no-repeat;
  background-position:center center;
  height: 16px;
  color:white;
}
.loading.loader-long {
  background-image: url(/assets/loader-long.gif);
  height: 19px;  
}
.loading.loader-circle {
  background-image: url(/assets/loader-circle.gif);
}
.loading.loader-square {
  background-image: url(/assets/loader-square.gif);
  height: 11px;
}
.small-info-text {
  font-size: 11px;
  color: gray;
}
.fake-textarea {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius:4px;
  overflow: hidden;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;  
}
.fake-textarea input,
.fake-textarea .controls input,
.fake-textarea textarea {
  overflow: auto;
  padding: 0;
  resize: none;
  padding: 0;
  width: 100%;
}
.fake-textarea input,
.fake-textarea .controls input,
.fake-textarea textarea, 
.fake-textarea input:focus,
.fake-textarea textarea:focus,
.fake-textarea .control-group.error input,
.fake-textarea .control-group.error textarea {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  border-style: none; 
  border-color: Transparent;
}

/*========== Bootstrap ==========*/

.nav-tabs > li.error > a {
  color:#fff;
  background: #b94a48;
}
.nav-tabs > .error > a:hover {
  background: #b94a48;
}
.nav-tabs > li.error.active > a {
  color:#b94a48;

  background: #fff;
}

/*========== Formtastic ==========*/

form.formtastic .control-group.image {
 clear: both;
 float: left;
}
form.formtastic .control-group.image img {
  float: left;
  clear: left;
  margin-right: 10px;
}
form.formtastic .control-group.image .image-inputs {
  float: left;
  clear: right;
}
textarea:not([data-dont-grow='true']) {
  overflow: hidden;
}

/*========== Options panel ==========*/

.options_panel a {
  margin-right: 10px;
}

/*========== Twitter widget ==========*/
.twtr-ft a.twtr-join-conv{
  display:none;
}


/*========== Read more truncate ==========*/

.read-more-wrapper .read-more-full {
  display: none;
}