/*========== Defaults ==========*/

.clear {
  clear: both;
}
.padding {
  padding: 10px;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.mb-0 { margin-bottom:  0px; }
.mb-1 { margin-bottom: 10px; }
.mb-2 { margin-bottom: 20px; }
.mb-3 { margin-bottom: 30px; }
.mt-0 { margin-top:     0px; }
.mt-1 { margin-top:    10px; }
.mt-2 { margin-top:    20px; }
.mt-3 { margin-top:    30px; }
.ml-0 { margin-left:    0px; }
.ml-1 { margin-left:   10px; }
.ml-2 { margin-left:   20px; }
.ml-3 { margin-left:   30px; }
.mr-0 { margin-right:   0px; }
.mr-1 { margin-right:  10px; }
.mr-2 { margin-right:  20px; }
.mr-3 { margin-right:  30px; }

.border-bottom {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.upcase {
  text-transform:uppercase;
}
.italic {
  font-style: italic;
}
.loading * {
  display:none;
}
.loading {
  background-image: url(/assets/loader-circle.gif);
  background-repeat:no-repeat;
  background-position:center center;
  height: 16px;
  color:white;
}
.loading.loader-long {
  background-image: url(/assets/loader-long.gif);
  height: 19px;  
}
.loading.loader-circle {
  background-image: url(/assets/loader-circle.gif);
}
.loading.loader-square {
  background-image: url(/assets/loader-square.gif);
  height: 11px;
}
.small-info-text {
  font-size: 11px;
  color: gray;
}
.fake-textarea {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;  
}
.fake-textarea input, 
.fake-textarea textarea {
  overflow: auto;
  padding: 0;
  resize: none;
  padding: 0;
  width: 100%;
}
.fake-textarea input, 
.fake-textarea textarea, 
.fake-textarea input:focus,
.fake-textarea textarea:focus,
.fake-textarea .control-group.error input,
.fake-textarea .control-group.error textarea {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  border-style: none; 
  border-color: Transparent;
}

/*========== Bootstrap ==========*/

.nav-tabs > li.error > a {
  color:#fff;
  background: #b94a48;
}
.nav-tabs > .error > a:hover {
  background: #b94a48;
}
.nav-tabs > li.error.active > a {
  color:#b94a48;
  background: #fff;
}

/*========== Options panel ==========*/

.options_panel a {
  margin-right: 10px;
}

/*========== Twitter widget ==========*/
.twtr-ft a.twtr-join-conv{
  display:none;
}
