/*= require jquery-ui-1.8.18 */

/*========== Defaults ==========*/

.clear {
  clear: both;
}
.padding {
  padding: 10px;
}
.no-margin {
  margin: 0;
}
.margin-bottom {
  margin-bottom: 20px;
}
.margin-top {
  margin-top: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.border-bottom {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.upcase {
  text-transform:uppercase;
}
.italic {
  font-style: italic;
}
.loading * {
  display:none;
}
.loading {
  background: url(/assets/loader-circle.gif) no-repeat center center;
  height: 16px;
}
.loading.loader-long {
  background: url(/assets/loader-long.gif) no-repeat center center;
  height: 19px;  
}
.loading.loader-circle {
  background: url(/assets/loader-circle.gif) no-repeat center center;
  height: 16px;  
}
.loading.loader-square {
  background: url(/assets/loader-square.gif) no-repeat center center;
  height: 11px;
}
.small-info-text {
  font-size: 11px;
  color: gray;
}

/*========== Nav ==========*/

.nav-tabs > li.error > a {
  color:#fff;
  background: #b94a48;
}
.nav-tabs > .error > a:hover {
  background: #b94a48;
}
.nav-tabs > li.error.active > a {
  color:#b94a48;
  background: #fff;
}